@import "reset";

@import "views/not-found/NotFoundView";
@import "views/settings/SettingsView";
@import "views/about/AboutView";
@import "views/hero/HeroView";
@import "views/help/HelpView";
@import "views/layout/AppLayout";

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0 5px #fff;
}
